fonts/*.*
data/*
data/*.*
data/*/*
data/tables/*
layers/*/*
logs/*/*
site/*/*
site/*.*

landcovers_test_render.png
.thumb.png
mapnik_carto_generated.xml
make.svg
make_profile.db
report.json
logs/latest
fonts
__pycache__/*.*

presentation_notes_ru.txt
/py-scripts/__pycache__
