fonts/*.*
data/*
data/*.*
data/*/*
data/tables/*
layers/*/*
logs/*/*
site/*/*
site/*.*

landcovers_test_render.png
.thumb.png
mapnik_carto_generated.xml
make.svg
make_profile.db
report.json
logs/latest
fonts
__pycache__/*.*

presentation_notes_ru.txt
/py-scripts/__pycache__
webui-prototypes/img/pic01_empty_osm-2.xcf
webui-prototypes/img/pic01_empty_osm.xcf
webui-prototypes/empty_hex_data.json
makefile-profiling.log
planet/planet-latest.osm.pbf
planet/planet-latest.osm.pbf.bak
planet/nodes.bin
planet/planet-latest-updated.osm.pbf
